<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dog Classifier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div [hidden]="result == null" class="eredmény" *ngFor="let pred of result.predictions">
    <p>{{pred.label}}</p>
    <p>-</p>
    <p>{{pred.probability}}</p>
  </div> -->
<div id="container">
  <div *ngIf="imageurl">
    <img [src]="santizeUrl(imageurl)"/>
  </div>
  <div>
    <p>
      <ion-button (click)="selectimageOptions()">Select Image</ion-button>
      <ion-button [disabled]="!imageurlresult" (click)="getimagefile(imageurlresult)"> Predict </ion-button>
    </p>
  </div>
</div>
</ion-content>
